# Drupal
web/core
web/modules/contrib
web/profiles/contrib
web/themes/contrib
web/libraries
web/sites/default/files
web/sites/default/services.yml
web/sites/settings.ddev.php

# Composer
vendor
composer.lock

# Node
node_modules
package-lock.json
yarn.lock

# Environment
.env
.env.local
.env.production

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
