environment = "staging"
vpc_cidr    = "10.1.0.0/16"

# RDS
db_instance_class    = "db.t4g.large"
db_allocated_storage = 40
db_engine_version    = "18"

# Redis
redis_node_type       = "cache.t4g.medium"
redis_num_cache_nodes = 1

# EKS
eks_node_instance_types = ["t3.large"]
eks_min_nodes           = 2
eks_max_nodes           = 5
eks_desired_nodes       = 2
